.btn button{
    padding: 20px 70px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
}
.btn button:hover{
    background-color: grey;
    color: black;
    transition: 300ms;
}